@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body,div,h1,h3,ul {
	padding: 0;
	margin: 0 auto;
}

h1, h3, ul {
	text-align: center;
}

body{
	background-color: #EDEFFA;
}

#top{
	background-color: rgba(57, 82, 212, 0.85);
	height: 150px;
}

#header{
	margin-bottom: 10px;
}

h3{
	font-family: Montserrat, regular;
	font-size: 38px;
	color: rgb(255,255,255, 0.9);
	font-weight: lighter;
}

h5 {
	font-family: Montserrat;
	color: black;
	font-size: 40px;
	text-align: center;
	margin-bottom: 10px;
}
h1{
	font-family: Montserrat;
	color: white;
	font-weight: bold;
	font-size: 70px;
}

#nav_home, #nav_map, #nav_about{
	display: inline-block;
	text-transform: uppercase;
	font-size: 30px;
	padding: 5px;
}

#nav_home:hover, #nav_map:hover, #nav_about:hover{
	background-color: rgba(57, 82, 212, 0.85);
}

#nav_map, #nav_home{
	margin-right: 110px;
}

#nav_home a{
	font-family: Montserrat, regular;
	text-decoration: none;
	color: white;
}

#nav_map a{
	font-family: Montserrat, regular;

	text-decoration: none;
	color: white;

}

#nav_about a{
	font-family: Montserrat, regular;

	text-decoration: none;
	color: white;

}

#nav{
	height: 50px;
	background-color: #6E80E0;
}


/* REST OF DESIGN HERE */

#content p{
	font-family: Montserrat;
	font-weight: lighter;
	text-align: center;
	font-size: 21px;
}

#content{
	width: 80%;
}

#profiles {
	overflow-x:auto;
		width: 80%;
}

table {
	margin:auto;
}

#Mneera {
	height: 200px;
   width: 300px;
	background-image: url(bear_1.jpg);
}

#Mneera:hover {
background-image: url(mneera.jpg);
}

#Helen {
	height: 200px;
   width: 300px;
background-image: url(bear_2.jpg);
}

#Helen:hover {
background-image: url(helen.jpg);
}

#Janna {
	height: 200px;
   width: 300px;
background-image: url(bear_3.jpg);
}

#Janna:hover {
background-image: url(janna.jpg);
}

#Adi {
	height: 200px;
   width: 300px;
background-image: url(bear_4.jpg);
}

#Adi:hover {
background-image: url(adi.jpg);
}
