body {
  background-color: rgba(57, 82, 212, 0.85);
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 90px;
  color: #ffffff;
  margin-bottom: 0px;
}

.text{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  width: 845px;
  height: 35px;
  font-size: 20px;
  padding-left:10px;
  border: 1px solid black;
}


#bearlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 140px;
  width: 155px;
  margin-bottom: 30px;
  margin-top: 10px;
}

#login {
    display: block;
    text-align: center;
    margin:auto;
    width: 858px;
  }

#submit_msg {
  font-family: 'Montserrat', sans-serif;
  background-color: #83B8D6;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  width: 858px;
  height: 35px;
  font-size: 20px;
  margin-top: 40px;
}

#links {
  margin-top: 10px;
}

#create_acct{
  font-family: 'Montserrat', sans-serif;
  display: inline;
  float: left;
  color: #ffffff;
  text-decoration: none;
}

#forgot_pass {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  display: inline;
  float: right;
  text-decoration: none;

}
