<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Density Spot</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link rel="stylesheet" href="about.css" type="text/css" />
</head>

<body>
	<div id="top">
		<h1 id="header">Density Spot</h1>
		<h3 id="brown">Brown University</h3>
	</div>
	<div id="nav">
		<ul id="nav_link_container">
			<li id="nav_home"><a href="/profile">Home</a></li>
			<li id="nav_map"><a href="/predict">Predict</a></li>
			<li id="nav_about"><a href="/about">About</a></li>
		</ul>
	</div>
	<div id="team_members">
		<h5>Meet the team members!</h5>
		<div id="profiles">
		<table>
			<tr>
				<td id="Mneera">
				</td>
				<td id="Helen">
				</td>
			</tr>
			<tr>
				<td id="Janna">
				</td>
				<td id="Adi">
				</td>
			</tr>
		</table>
		</div>
	</div>
	<div class="content">
		<h5>What is DensitySpot?</h5>
		<p>Everyone’s had the same experience before - You walk into the CIT lobby, and every inch of the space is covered by your stressed out peers.</p>

			<p>You sigh and make the trek to the third floor, and it seems like every course has decided to hold their staff meetings at the same time, and the entire atrium / surrounding rooms are filled. You cross the treacherous ledge over to the sci li and have the exact same experience. By this time, you’ve been wandering around for 30 minutes and are in a bad mood to start studying. As anyone who’s ever taken Principles before can tell you, this is an extremely inefficient allocation of resources.</p>

			<p id="highlight">  <b>What would be helpful is having a tool that can, in real time, estimate and display that information to you in a simply, user-friendly way.<b></p>

			<p>That’s exactly what DensitySpot does - by aggregating WiFi data (or some other representative proxy), we can analyze the number of internet connections and use that as a representation for how ‘full’ a study space is in comparison to others. Additionally, after gathering and matching it with user feedback on the accuracy of our estimations, we can predict the density for a calendar day based on historical data so people can plan for future studying. We’re so excited about the potential this project will have on Brown’s campus, and hope you are as well!</p>
		</div>
		<div class="content" id="lastParagraph">
			<h5>Data Collection + Analysis</h5>
			<p>We strive to provide students with the most accurate data we can on different study space densities.
				Our ideal data to analyze would be realtime data on wifi connections or swipe data for the libraries and eateries. </p>
				<p>At this time, due to issues with Brown University's Computing and Information Services, we are
				using a data proxy until these issues are resolved. We have collected data on 40+ Brown students from a wide
			array of different concentrations on their locations on campus at any point in time. Then, taking this data as well as
			 the building population capacities into account, we wrote an algorithm to provide a best estimate
			 of the actual densities. This is purely a temporary solution, and we are still in talks with CIS to
		 improve our accuracy in the coming weeks. Make sure to check back in for updates!</p>
		</div>
	</body>

	</html>
