@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body,div,h1,h3,ul {
	padding: 0;
	margin: 0 auto;
}

h1, h3, ul {
	text-align: center;
}

body{
	background-color: rgba(237, 239, 250, 0.85);
	/*background-color: rgb(119, 93, 59);*/
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#top{
	background-color: rgba(57, 82, 212, 0.85);
	height: 200px;
}

#header{
	margin-bottom: 10px;
}

h3{
	font-family: Montserrat, regular;
	font-size: 38px;
	color: #ffffff;
    	opacity: 0.9;
	font-weight: lighter;
	padding-top: 10px;
}

h1{
	padding-top: 40px;
	font-family: Montserrat;
	color: white;
	font-weight: bold;
	font-size: 70px;
}

#nav_home, #nav_map, #nav_about{
	display: inline-block;
	text-transform: uppercase;
	font-size: 30px;
	padding: 5px;
}

#nav_home:hover, #nav_map:hover, #nav_about:hover{
	background-color: rgba(57, 82, 212, 0.85);
}

#nav_map, #nav_home{
	margin-right: 110px;
}

#nav_home a{
	font-family: Montserrat, regular;
	text-decoration: none;
	color: white;
}

#nav_map a{
	font-family: Montserrat, regular;
	text-decoration: none;
	color: white;

}

#nav_about a{
	font-family: Montserrat, regular;
	text-decoration: none;
	color: white;

}

#nav{
	height: 50px;
	background-color: #6E80E0;
}

.progress-h {
	width: 748px;
	height: 137px;
	margin: auto;
	background-color: white;
	border-radius: 7px;
	margin-top: 40px;
	padding-top: 25px;
}

.label {
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	padding-left: 37px;
	padding-top: 47px;
	color: black;
	font-weight: lighter;
}
.progress {
	margin-top: 20px;
	width: 679px;
	height: 32px;
	border-radius: 100px;
	background-color: rgba(237, 239, 250, 1);
}

#content, #search {
	text-align: center;
}

#popup{
            display:none;
            position:absolute;
            margin:0 auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
						border: 1px solid black;
    }

#popup2 {
	position:absolute;
	margin:0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	border: 1px solid black;

}

#percentFull {
	width: 80px;
	display: inline-block;
	margin: 0 auto;
}

.textbox {
	display:none;
	background-color: white;
	width: 300px;
	height:100px;
	text-align: center;
	margin: 0 auto;
}

.container {
	display: inline-block;
}

#search {
	margin-top: 20px;
	border: 1px solid #ccc;
	width: 300px;
	height: 40px;
	border-radius: 3px;
}

.allpbars {
	margin-top: 38px;
	display: flex;
	flex-direction: column;
}

.progress-h { 
	width: 748px;
	height: 137px;
	margin: auto;
	background-color: white;
	border-radius: 7px;
	margin-top: 0px;
	padding-top: 25px;
	margin-bottom: 50px;
}

#scili {
	order: 0;
}

#cit {
	order: 1;
}

#rock {
	order: 2;
}

#hay {
	order: 3;
}

#faunce {
	order: 4;
}

#bh {
	order: 5;
}

#andrews{
	order: 6;
}

#jww {
	order: 7;
}

#watson {
	order: 8;
}

#ratty {
	order: 9;
}

.dropdown {
	/*margin: 0 auto;*/
	margin-top: 20px;
	display: inline-block;
	padding-right: 10px;
}

#menu1 {
	height: 39.6px;
	/*background-color: rgba(237, 239, 250, 0.85);*/
	background-color: rgba(255, 34, 10, 0.9);
	border: 0px;
}

#searchbar {
	display: inline-block;
}

.dropdown-menu {
	margin-bottom: 5px;
}

.dropdown-item {
	padding-top: 0px;
}















