<!DOCTYPE html>
<html lang="en">
<head>
	<title>Density Spot</title>
	<link rel="stylesheet" href="map.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- TO DO: Post request!!!! Send what the user inputted to 
	app.js, query there, return result -->
	<script>
	$(document).ready(function(){
		$('#predButton').submit(predict);
	});
	function predict(event){
		event.preventDefault();
		var loc = document.getElementById("location");
		console.log("location is " + loc);
		var t = document.getElementById("stime");
		console.log("time is" + t);

		var day = document.getElementById("sday");
		console.log("day is" + sday);

		$.post('/map/predict', {loc: loc, t: t, day: day}, function(response){
			var pred = $('#ourPrediction');
			pred.empty();
			var den = response.densities[0]*100;
			console.log(den);
			pred.text(den);
		});
	}

	</script>
</head>

<body>
	<div id="top">
		<h1 id="header">Density Spot</h1>
		<h3 id="brown">Brown University</h3>
	</div>
	<div id="nav">
		<ul id="nav_link_container">
			<li id="nav_home"><a href="/profile">Home</a></li>
			<li id="nav_map"><a href="/map">Map</a></li>
			<li id="nav_about"><a href="/about">About</a></li>
		</ul>
	</div>
	<div id="container">
	<h2>Prediction</h2>
<span class="custom-dropdown big">
    <select id="location">    
	  <option value="SCILI">SciLi</option>
	  <option value="CIT">CIT</option>
	  <option value="ROCK">The Rock</option>
	  <option value="HAY">John Hay</option>
		<option value="FAUNCE">Faunce</option>
		<option value="BARUS">Barus & Holley</option>
		<option value="ANDREWS">Andrews</option>
		<option value="JWW">JWW</option>
		<option value="WATSON">Watson</option>
		<option value="RATTY">The Ratty</option>
		<option value="">N/A</option>
    </select>
</span>

<span class="custom-dropdown small">

<select id="stime">
  <option value="9:00 AM">9:00 am</option>
  <option value="10:00 AM">10:00 am</option>
  <option value="11:00 AM">11:00 am</option>
  <option value="12:00 PM">12:00 pm</option>
  <option value="1:00 PM">1:00 pm</option>
  <option value="2:00 PM">2:00 pm</option>
  <option value="3:00 PM">3:00 pm</option>
  <option value="4:00 PM">4:00 pm</option>
  <option value="5:00 PM">5:00 pm</option>
  <option value="6:00 PM">6:00 pm</option>
  <option value="7:00 PM">7:00 pm</option>
  <option value="8:00 PM">8:00 pm</option>
  <option value="9:00 PM">9:00 pm</option>
  <option value="10:00 PM">10:00 pm</option>
  <option value="11:00 PM">11:00 pm</option>
  <option value="12:00 AM">12:00 am</option>
  <option value="1:00 AM">1:00 am</option>
  <option value="2:00 AM">2:00 am</option>
  <option value="3:00 AM">3:00 am</option>
</select>

<span class="custom-dropdown small">

<select id="sday">
  <option value="MONDAY">Monday</option>
  <option value="TUESDAY">Tuesday</option>
  <option value="WEDNESDAY">Wednesday</option>
  <option value="THURSDAY">Thursday</option>
  <option value="FRIDAY">Friday</option>
  <option value="SATURDAY">Saturday</option>
  <option value="SUNDAY">Sunday</option>


</select>

	<form method="POST" action="/map/predict" id="predButton">
		<input type="submit" value="Subscribe" onclick="predict()">
	</form>

<h2 id="ourPrediction"><h2>
</div>


</body>

</html>
