<!DOCTYPE html>
<html lang="en">
<head>
	<title>Density Spot</title>
	<link rel="stylesheet" href="map.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<script>
$(document).ready(function(){
    var form = $('#UGH').submit(predict);
});

function predict(event){
  event.preventDefault();
  var loc = $( "#location option:selected" ).val();
  console.log("location is " + loc);
  var t = $( "#stime option:selected" ).val();
  console.log("time is" + t);
	var day = $( "#sday option:selected" ).val();
  console.log("day is" + day);

  $.post('/map/predict', {loc: loc, t: t, day: day}, function(response){
		console.log(response.densities[0].population);
		var den = Math.ceil((response.densities[0].population)*100) + "%";
		console.log(den);
	  var pred = $('#ourPrediction');
    pred.empty();
    pred.text(den);
  });
}

</script>
<body>
	<div id="top">
		<h1 id="header">Density Spot</h1>
		<h3 id="brown">Brown University</h3>
	</div>
	<div id="nav">
		<ul id="nav_link_container">
			<li id="nav_home"><a href="/profile">Home</a></li>
			<li id="nav_map"><a href="/predict">Map</a></li>
			<li id="nav_about"><a href="/about">About</a></li>
		</ul>
	</div>
	<div id="container">
	<h2>Prediction</h2>
<span class="custom-dropdown big">
    <select id="location">
	  <option value="SCILI">SciLi</option>
	  <option value="CIT">CIT</option>
	  <option value="ROCK">The Rock</option>
	  <option value="HAY">John Hay</option>
		<option value="FAUNCE">Faunce</option>
		<option value="BARUS">Barus & Holley</option>
		<option value="ANDREWS">Andrews</option>
		<option value="JWW">JWW</option>
		<option value="WATSON">Watson</option>
		<option value="RATTY">The Ratty</option>
    </select>
</span>

<span class="custom-dropdown small">

<select id="stime">
  <option value="9:00 AM">9:00 am</option>
  <option value="10:00 AM">10:00 am</option>
  <option value="11:00 AM">11:00 am</option>
  <option value="12:00 PM">12:00 pm</option>
  <option value="1:00 PM">1:00 pm</option>
  <option value="2:00 PM">2:00 pm</option>
  <option value="3:00 PM">3:00 pm</option>
  <option value="4:00 PM">4:00 pm</option>
  <option value="5:00 PM">5:00 pm</option>
  <option value="6:00 PM">6:00 pm</option>
  <option value="7:00 PM">7:00 pm</option>
  <option value="8:00 PM">8:00 pm</option>
  <option value="9:00 PM">9:00 pm</option>
  <option value="10:00 PM">10:00 pm</option>
  <option value="11:00 PM">11:00 pm</option>
  <option value="12:00 AM">12:00 am</option>
  <option value="1:00 AM">1:00 am</option>
  <option value="2:00 AM">2:00 am</option>
  <option value="3:00 AM">3:00 am</option>
</select>

<span class="custom-dropdown small">

<select id="sday">
  <option value="MONDAY">Monday</option>
  <option value="TUESDAY">Tuesday</option>
  <option value="WEDNESDAY">Wednesday</option>
  <option value="THURSDAY">Thursday</option>
  <option value="FRIDAY">Friday</option>
  <option value="SATURDAY">Saturday</option>
  <option value="SUNDAY">Sunday</option>


</select>

	<form action="formsubmit" id="UGH">
		<input type="submit" value="Subscribe" id="submit_msg">
	</form>

<h2 id="ourPrediction"><h2>
</div>


</body>

</html>
