@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body,div,h1,h3,ul {
	padding: 0;
	margin: 0 auto;
}

h1, h3, ul {
	text-align: center;
}

body{
	background-color: #EDEFFA;
}

#top{
	background-color: rgba(57, 82, 212, 0.85);
	height: 150px;
}

#header{
	margin-bottom: 10px;
}

h3{
	font-family: Montserrat, regular;
	font-size: 38px;
	color: #ffffff;
    	opacity: 0.9;
	font-weight: lighter;
}

h1{
	font-family: Montserrat;
	color: white;
	font-weight: bold;
	font-size: 70px;
}

#nav_home, #nav_map, #nav_about{
	display: inline-block;
	text-transform: uppercase;
	font-size: 30px;
	padding: 5px;
}

#nav_home:hover, #nav_map:hover, #nav_about:hover{
	background-color: rgba(57, 82, 212, 0.85);
}

#nav_map, #nav_home{
	margin-right: 110px;
}

#nav_home a{
	font-family: Montserrat, regular;
	text-decoration: none;
	color: white;
}

#nav_map a{
	font-family: Montserrat, regular;

	text-decoration: none;
	color: white;

}

#nav_about a{
	font-family: Montserrat, regular;

	text-decoration: none;
	color: white;

}

#nav{
	height: 50px;
	background-color: #6E80E0;
}


#brownmap{
	height: 700px;
	width: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}


/* Tooltip text */
/*.hiddenIMG .hiddenIMGtext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;*/

    /* Position the tooltip text - see examples below! */
/*    position: absolute;
    z-index: 1;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
/*.tooltip:hover .tooltiptext {
    visibility: visible;
}*/
/*
.hiddenIMG:hover{
	border: 1px solid black;
}

#andrews{
	height: 27px;
	width: relative;
	position: absolute;
    bottom: 0px;
    right: 0px;
    top: 212px;
    left: 542px;
}

#barusandholley{
	height: 70px;
	width: relative;
	position: absolute;
    bottom: 0px;
    right: 0px;
    top: 546px;
    left: 868px;
}


#biomed{
	height: 46px;
	width: relative;
	position: absolute;
    bottom: 0px;
    right: 0px;
    top: 360px;
    left: 571px;
}

#cit{
	height: 42px;
	width: relative;
	position: absolute;
    bottom: 0px;
    right: 0px;
    top: 518px;
    left: 763px;
}

#faunce{
	height: 19px;
	width: relative;
	position: absolute;
    bottom: 0px;
    right: 0px;
    top: 549px;
    left: 510px;
}

*/
/* REST OF DESIGN HERE */


#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	text-align: center;
	border-radius: 5px;
	margin: 3em auto;
	background: rgba(255, 255, 255, 0.95);
	height: 380px;
	width: 480px;
	padding: 1em;

}

h2 {
	padding-top: 20px;
	font-family: Montserrat, regular;
	font-size: 30px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	letter-spacing: 2px;
	font-size: 2.5em;
	margin: 0;
}

#container p {
	font-family: Montserrat, regular;
	margin: 3px 0 1.5em 0;
	font-size: 1.0em;
	padding-top: 10px;
	color: #7d7d7d;
}

#container input {
/* 	background: rgba(255, 13, 254, 0.90); */
	width: 210px;
	display: inline-block;
	text-align: center;
	border-radius: 7px;
	background: #eee;
	padding: 1em 2em;
	outline: none;
	border: none;
	color: #222;
	transition: 0.3s linear;
}
::placeholder{color: #999;}
#container input:focus {background: rgba(0, 0, 333, 0.10);}

#container button {
	background-image: linear-gradient(to left, rgba(255, 146, 202, 0.75) 0%, rgba(145, 149, 251, 0.86) 100%);
	box-shadow: 0 9px 25px -5px #df91fb;
	font-family: 'Abel', sans-serif;
	padding: 0.5em 1.9em;
	margin: 0 0 0 0;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1em;
	outline: none;
	border: none;
	transition: 0.3s linear;

}
#container button:hover{transform: translatey(2px);}
#container button:active{transform: translatey(5px);}


/*
HERE 2
*/
/*the container must be positioned relative:*/
/*.custom-select {
  position: relative;
  font-family: Arial;
}
*/
.custom-dropdown select {
  background-color: rgba(57, 82, 212, 0.85);
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin-bottom: 25px;
  margin-top: 15px;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}
